<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>6° Avaliação Contínua</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container d-flex justify-content-start">
        <a class="navbar-brand mr-3" href="/">Avaliação contínua: Aula 060</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
        </div>
    </div>
</nav>

    <div class="container mt-4">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>