<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Avaliação contínua: Aula 040</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    {{ moment.include_moment() }}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Avaliação contínua: <strong>Aula 040</strong></a>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/identificacao/Leonardo%20Mac%C3%AAdo%20Aurieni/PT3035867/IFSP">Identificação</a>
                <a class="nav-item nav-link" href="/contextorequisicao">Contexto da requisição</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>