{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
        <p>Pleased to meet you!</p>
    {% else %}
        <p>Happy to see you again!</p>
    {% endif %}
</div>
<hr>

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label(class="font-weight-bold") }}
        {{ form.name(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-light border") }}
</form>
{% endblock %}